* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
}

/* helpers */

.opacity-1 {
  opacity: 1!important;
}
.opacity-0 {
  opacity: 0!important;
}
.relative {
  position: relative;
}
.d-none {
  display: none;
}
/* ------------------------------------------------------------------ */

/* scroll */
::-webkit-scrollbar {
  /* width: 8px; */
  width: 0px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: none;
  background: transparent;
}
/* ------------------------------------------------------------------ */

/* mouse ball */
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -5;
}
#ball {
  width: 100px;
  height: 100px;
  background: rgba(252, 252, 252, 0.1) !important;
  background-size: 100% 100%;
  background: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  pointer-events: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}
/* ------------------------------------------------------------------ */

/* loader animations */
.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.loader-1 {
  background: rgb(171, 111, 228);
  z-index: 6;
}
.loader-3 {
  background: rgb(202, 7, 220);
  z-index: 4;
}
.loader-2 {
  background: rgb(142, 20, 153);
  z-index: 5;
}


.bg-1 {
  background: rgb(171, 111, 228);
}
.bg-3 {
  background: rgb(202, 7, 220);
}
.bg-2 {
  background: rgb(142, 20, 153);
}
.loader-out {
  width: 0;
}
.line-loader {
  /* margin-left: 100%; */
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 2s;
}
.line-loaded {
  width: 100%;
  /* margin-left: 0%; */
}
.texto {
  height: calc(100vh - 3px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube {
  opacity: 0;
  /* width: 25%; */
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, opacity 0.5s;
}
h1 {
  margin: 0;
  font-size: 50px;
}
.face-cube {
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.year {
  transform: translateZ(20px);
  transition: opacity 0.5s;
}
.welcome {
  transform: rotateX(-90deg) translateZ(-20px);
}
.giro {
  transform: rotateX(89deg) translateZ(30px);
}

/* ------------------------------------------------------------------ */

/* content */
main {
  min-height: 100vh;
}

/* .home-section {
  height: 100vh;
} */

.second-section {
}
.box-proy {
  background-color: blueviolet;
}
.box-transform-screen {
  position: fixed;
  width: 0%;
  height: 0vh;
  min-height: 0vh;
  position: fixed;
  top: 0;
  left: 0;
  background:blue;
  transition: all 0.5s;
}
/* .box-distor {
    transform: perspective(700px) rotateX(-30deg) rotateY(-30deg);
} */
.full-screen {
  width: 500px;
  height: 500px;
  border-bottom-right-radius: 100%;
  padding:25px;
  z-index:5;
}
.full-screen-bg {
  width: 100vw;
  height: 100vh;
  z-index:4;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.column-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* btn-liquid */

.btn-liquid {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 60px;
	border-radius: 27px;
  color: #fff!important;
  text-decoration: none;
	font: 700 14px/60px "Droid Sans", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
}

.btn-liquid:hover {
  text-decoration: none;
}

.btn-liquid .inner {
	position: relative;
	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;

	z-index: 1;
}



@media (max-width:1024px) {
  #ball {
    display: none;
  }
}

@media (max-width:990px) {
  .column-home {
    height: 50vh;
}
}

@media (max-width:600px) {
  .full-screen {
    width: 100vw;
    height: 100vw;
    border-bottom-right-radius: 100%;
  }
  .column-home {
    height: 70vh;
}
}
