* {
  margin: 0;
  padding: 0;
}

body {
  background:black;
  color: white;
}

::-webkit-scrollbar {
  /* width: 8px; */
  width: 0px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: none;
  background: transparent;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -5;
}

#ball {
  width: 100px;
  height: 100px;
  background: rgba(252, 252, 252, 0.1) !important;
  background-size: 100% 100%;
  background: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  pointer-events: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}
.opacity-1 {
  opacity: 1 !important;
}

.relative {
  position: relative;
}
.d-none {
  display: none;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.loader-1 {
  background: rgb(171, 111, 228);
  z-index: 6;
}
.loader-3 {
  background: rgb(202, 7, 220);
  z-index: 4;
}
.loader-2 {
  background: rgb(142, 20, 153);
  z-index: 5;
}

.loader-out {
  width: 0;
}
.line-loader {
  margin-left: 100%;
  width: 0;
  height: 5px;
  background: #fff;
  transition: all 2s;
}
.line-loaded {
  width: 100%;
  margin-left: 0%;
}

.texto {
  height: calc(100vh - 5px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tittle-flip {
  opacity: 0;
  transition: opacity 1s;
}
.tittle-fliped{
  color: red
}

main {
 min-height: 100vh; 
}