*{
    margin: 0;
    padding: 0;
}

body {
    background: #161616;
    color: white;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -5;
}

#ball {
    width: 100px;
    height: 100px;
    background: rgba(252, 252, 252, 0.1) !important;
    background-size: 100% 100%;
    background: none;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    pointer-events: none;
    transition: opacity 1s ease-out;
    opacity: 0;
}
.opacity-1 {
    opacity: 1!important;
}

main {
    position: relative;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
}

.loader-1 {
    background: red;
    z-index: 6; 
}
.loader-3 {
    background: green;
    z-index: 4;
}
.loader-2 {
    background: blue;
    z-index: 5;
}

.loader-out{
    width: 0;
}